@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav {
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.contenedorPrincipal {
    margin-top: 20px;
    margin-bottom: 25px;
}

.menu {
    margin-bottom: 20px;
}

.grid {
    margin-top: 20px;
}

.centrarContenido {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacarImg {
    opacity: 0.4;
    transition: .5s;
}

.opacarImg:hover {
    opacity: 1;
    cursor: pointer;
}

.parrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: justify;
    padding: 15px;
    background: #e7e7e7;
}

.textoInicial{
    text-align: center;
    position: relative;
    top: -160px;
    color: black !important;
}
