@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav {
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.contenedorPrincipal {
    margin-top: 20px;
}

.menu {
    z-index: 10000000;
}

@media(min-height: 625px) and (min-width: 700px) {
    .menu {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}

.grid {
    margin-top: 20px;
    margin-bottom: 20px;
}

.efectoHoverImgPrincipal {
    z-index: 50;
    transition: 1.5s;
}

.efectoHoverImgPrincipal:hover {
    cursor: pointer;
}

img.bordeImg {
    border-radius: 25px 20px 0 0;
}

.efectoHoverImgPrincipal img:hover ~ p, .efectoHoverImgPrincipal p:hover {
    transition: 1.5s;
    background: rgba(60, 125, 168, 0.699);
    border-radius: 0 0 20px 20px;
    color: #fff;
}

.opacarImg {
    opacity: 0.4;
    transition: .5s;
}

.opacarImg:hover {
    opacity: 1;
    cursor: pointer;
}

.parrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: justify;
    padding: 15px;
    background: #e7e7e7;
}